
@{
    Layout = null;
}
@section LoginUser
{
    <h5 style="color:black">@ViewBag.username</h5>
}
<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/png" sizes="192x192" href="~/Assets/img/favicon_new.png">

    <meta name="viewport" content="width=device-width" />
    <title>OptoEyeCare</title>

    <link href="~/Assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="~/Assets/css/Login.css" rel="stylesheet" />
    <link href="~/Assets/css/spinner.css" rel="stylesheet" />
    <script src="~/scripts/jquery-1.10.2.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
    <script src="~/Assets/js/SomeeAdsRemover.js"></script>
    <script type="text/javascript">
        window.history.forward();

        $(document).ready(function () {
            $('#signin').addClass("active");
            function ValidatePwd(Pwd) {
                var reg = /(?=^.{8,12}$)(?=(?:.*?\d){2})(?=.*[a-z])(?=(?:.*?[A-Z]){1})(?=(?:.*?[!@@#$%*()_+^&}{:;?.]){1})(?!.*\s)[0-9a-zA-Z!@@#$%*()_+^&]*$/;
                if (reg.test(Pwd)) {
                    return true;
                }
                else {
                    return false;
                }
            }
            function login() {               
                $('#submit').val('Please wait...').attr("disabled", true).css("background-color", "gray");              
                var EmailId = $('#txtUserName').val();
                var password = $('#txtPassword').val();
                var objLoginViewModel = { EmailId: EmailId, Password: password };

                $.ajax({
                    async: true,
                    type: 'POST',
                    dataType: 'JSON',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(objLoginViewModel),
                    url: '/Home/Login',
                    success: function (response) {
                        if (response.success === true) {                                                      
                            window.location = response.url;
                        }
                        else if (response.status == "NotActive") {
                            $('#submit').val('LOG IN').attr("disabled", false).css("background-color", "#56baed");
                            toastr.error('It seems user not active ! Please contact to admin', 'Error Alert', { timeOut: 3000, "closeButton": true });
                        }
                        else {
                            $('#submit').val('LOG IN').attr("disabled", false).css("background-color", "#56baed");
                            toastr.error('email id & password is not valid', 'Error Alert', { timeOut: 3000, "closeButton": true });
                        }
                    },
                    error: function () {
                        $('#submit').val('LOG IN').attr("disabled", false).css("background-color", "#56baed");
                        toastr.error('There is some problem to process your request', 'Error Alert', { timeOut: 3000, "closeButton": true });
                    }
                });
            }
            var re = /^(([^<>()[\]\\.,;:\s@@\"]+(\.[^<>()[\]\\.,;:\s@@\"]+)*)|(\".+\"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            $('#submit').click(function (e) {
                if ($('#txtUserName').val() == "") {
                    $('#password').text('');
                    $('#email').text('Please enter the email address').css("color", "red");
                    $('#txtUserName').focus();
                    e.preventDefault();
                    return false;
                }
                else if (!re.test($('#txtUserName').val())) {
                    $('#password').text('');
                    $('#email').text('Invalid Email').css("color", "red");
                    $('#txtUserName').focus();
                    e.preventDefault();
                    return false;
                }
                else if ($('#txtPassword').val() == "") {
                    $('#email').text('');
                    $('#password').text('Please enter the password').css("color", "red");
                    $('#txtPassword').focus();
                    e.preventDefault();
                    return false;
                }
                else {
                    $('#email').text('');
                    $('#password').text('');

                }
                login();
                e.preventDefault();
                return false;
            });
            $('#signUp').click(function (e) {
                $('#signup').addClass("active");
                $('#signin').removeClass("active");
                $('#DivSignUp').show();
                $('#DivSignIn').hide();
            });
            $('#signIn').click(function (e) {
                $('#signup').removeClass("active");
                $('#signin').addClass("active");
                $('#DivSignUp').hide();
                $('#DivSignIn').show();
            });
            $('#DivSignUp').hide();

            $('#register').click(function (e) {
                if ($('#userName').val() == "") {
                    $('#error').text('enter the user name').css("color", "red");
                    $('#userName').focus();
                    e.preventDefault();
                    return false;
                }
                else if ($('#emailID').val() == "") {
                    $('#error').text('enter the email addres').css("color", "red");
                    $('#emailID').focus();
                    e.preventDefault();
                    return false;
                }
                else if (!re.test($('#emailID').val())) {
                    $('#error').text('Invalid Email').css("color", "red");
                    $('#emailID').focus();
                    e.preventDefault();
                    return false;
                }
                else if ($('#pswd').val() == "") {
                    $('#error').text('enter the password').css("color", "red");
                    $('#pswd').focus();
                    e.preventDefault();
                    return false;
                }
                else if ($('#pswd').val().length < 8) {
                    $('#error').text('Password Length must be between 8 and 12').css("color", "red");
                    $('#pswd').focus();
                    e.preventDefault();
                    return false;
                }
                else if (!ValidatePwd($('#pswd').val())) {
                    $('#error').text('Password Must Be Contain atleast One Capital,One Small Character,One Special and Two Numeric').css("color", "red");
                    $('#pswd').focus();
                    e.preventDefault();
                    return false;
                }
                else if ($('#ConfirmPassword').val() == "") {
                    $('#error').text('enter the confirm password').css("color", "red");
                    $('#ConfirmPassword').focus();
                    e.preventDefault();
                    return false;
                }
                else if ($('#pswd').val() != $('#ConfirmPassword').val()) {
                    $('#error').text('confirm password does not match with enterd password').css("color", "red");
                    $('#ConfirmPassword').focus();
                    e.preventDefault();
                    return false;
                }
                else {
                    $('#error').text('');
                }
                registration();
                e.preventDefault();
                return false;
            });
            function registration() {
                $("#coverScreen").show();
                var registrationModel = {
                    UserName: $('#userName').val(),
                    EmailId: $('#emailID').val(),
                    Password: $('#pswd').val()
                };

                $.ajax({
                    async: true,
                    type: 'POST',
                    dataType: 'JSON',
                    contentType: 'application/json; charset-8',
                    data: JSON.stringify(registrationModel),
                    url: '/Home/Registration',
                    success: function (response) {
                        if (response.success === true && response.email == "NotExist") {
                            $("#coverScreen").hide();
                            toastr.success('Yes! You have successfully registered !', 'success', { timeOut: 3000, "closeButton": true });
                            clear();
                        }
                        else if (response.success === true && response.email == "exist") {
                            $('#emailID').val('');
                            $("#coverScreen").hide();
                            toastr.error('email id already exist !', 'Error', { timeOut: 3000, "closeButton": true });
                        }
                        else {
                            toastr.error('some error occured', 'Error', { timeOut: 3000, "closeButton": true });
                        }
                    },
                    error: function () {
                        toastr.error('There is some problem to process your request', 'Error Alert', { timeOut: 3000, "closeButton": true });
                    }
                });
            }
            function clear() {
                $('#userName').val('');
                $('#emailID').val('');
                $('#pswd').val('');
                $('#ConfirmPassword').val('');
            }

        });

    </script>
    <style>       
        .input-group-addon {
            padding: 16px 12px;
            font-size: 14px;
            font-weight: 400;
            line-height: 1;
            color: #555;
            text-align: center;
            background-color: #f6f6f6;
            /*border: 1px solid #ccc;*/
            /*border-radius: 2px;*/
            margin-left: 15px;
        }
    </style>
</head>
<body>
    <div id="coverScreen" class="LockOn" style="display:none">
    </div>
    <div class="wrapper">
        <div id="formContent">
            <div style="margin-bottom: -26px;">
                <img src="~/Assets/img/OpticalName.png" width="100%" />
            </div><hr />
            <div style="margin-top: -30px;">
                <!-- Tabs Titles -->
                @*<a class="collapse-item" href="#signUp"><h2 class="active"> Sign In </h2></a>
                    <a class="collapse-item" href="#signUp"><h2 class="inactive underlineHover">Sign Up </h2></a>*@
                <a class="collapse-item" data-toggle="tab" id="signIn" href="#signIn"><h2 id="signin">Sign In </h2></a>
                <a class="collapse-item" data-toggle="tab" id="signUp" href="#signUp"><h2 id="signup">Sign Up </h2></a>

                <div id="DivSignIn">
                    <!-- Icon -->
                    <div class="fadeIn first">
                        <img src="~/Assets/images/Login/ophtalmologist.svg" height="150px" id="icon" alt="User Icon" />
                    </div>

                    <!-- Login Form -->
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input type="text" id="txtUserName" class="form-control form-control-lg input-lg" style="margin-left:-6px;" placeholder="Your Email Address" />
                    </div>
                    <div style="text-align: left;padding-left: 37px;color: red">
                        <span id="email"></span>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-key"></i></span>
                        <input type="password" id="txtPassword" placeholder="Enter Password" maxlength="12"
                               style="background-color: #f6f6f6;border: none;color: #0d0d0d;padding: 15px 8px; text-align: left;text-decoration: none;display: inline-block;font-size: 16px; margin: 5px;width: 77%;border: 2px solid #f6f6f6;margin-left:-6px;">
                        <br />
                    </div>
                    <div style="text-align: left;padding-left: 37px;color: red">
                        <span id="password"></span>
                    </div>
                    <div>
                        <input type="submit" class="fadeIn fourth" value="Log In" id="submit">
                    </div>
                </div>

                <div id="DivSignUp">
                    <span style="font-size:12px" id="error"></span>
                    <div>
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input type="text" id="userName" class="form-control form-control-lg input-lg" style="margin-left:-6px;" placeholder="User Name" autocomplete="off" />
                    </div>

                    <div>
                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                        <input type="text" id="emailID" class="form-control form-control-lg input-lg" style="margin-left:-6px;" placeholder="Email address" autocomplete="off" />
                    </div>

                    <div>
                        <span class="input-group-addon"><i class="fa fa-key"></i></span>
                        <input type="password" id="pswd" placeholder="Enter Password" maxlength="12" autocomplete="off"
                               style="background-color: #f6f6f6;border: none;color: #0d0d0d;padding: 15px 8px; text-align: left;text-decoration: none;display: inline-block;font-size: 16px; margin: 5px;width: 77%;border: 2px solid #f6f6f6;margin-left:-6px;">
                        <br />
                    </div>

                    <div>
                        <span class="input-group-addon"><i class="fa fa-key"></i></span>
                        <input type="password" id="ConfirmPassword" placeholder="Re-enter Password" maxlength="12" autocomplete="off"
                               style="background-color: #f6f6f6;border: none;color: #0d0d0d;padding: 15px 8px; text-align: left;text-decoration: none;display: inline-block;font-size: 16px; margin: 5px;width: 77%;border: 2px solid #f6f6f6;margin-left:-6px;">
                        <br />
                    </div>

                    <div>
                        <input type="submit" class="fadeIn fourth" value="Sign Up" id="register">
                    </div>
                </div>
            </div>
            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a class="underlineHover" href="#">Forgot Password?</a>
            </div>
        </div>
    </div>

</body>
</html>
