@{
    ViewBag.Title = "Addition";
}
@section renderName
{
    <h5 style="color:black">Addition</h5>
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Assets/js/addition.js"></script>
</head>
<body>
    <div id="coverScreen" class="LockOn" style="display:none">
    </div>

    <div class="app-content content contentStyle">
        <div class="content-wrapper">
            <div class="content-header row" style="margin-left: 38%;">
                <span id="errorMsg"></span>
            </div>
            <div class="content-body">
                <!-- Active Orders -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-2" style="text-align: right;color:black">
                                            <div class="form-group">
                                                <label for="projectinput2">addition<span style="color: red" class="starRed">*</span> : </label>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <input type="text" id="addition" class="form-control input" autocomplete="off" placeholder="addition" maxlength="5" />
                                            </div>
                                        </div>
                                        <div class="col-md-1"></div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-primary" id="submit">Save</button>
                                                <button type="reset" class="btn btn-warning" id="cancelbtn">Cancel</button>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>


                        <div class="card" style="margin-top: 14px;">
                            <div class="card-body">
                                <div class="form-body">
                                    <div class="row">

                                        <div class="table-responsive">
                                            <table class="table" id="tabledata" style="border-bottom: 1px solid;">
                                                <thead style="background-color: #4b70dc;color: white;">
                                                    <tr>
                                                        <th>Sr. No</th>
                                                        <th>addition</th>
                                                        <th>Actions</th>
                                                        
                                                    </tr>
                                                </thead>
                                                <tbody style="font-size: 12px;">
                                                    @foreach (var item in ViewBag.Data)
                                                    {
                                                        <tr>
                                                            <td class="id">
                                                                <span>@item.Id</span>
                                                            </td>
                                                            <td class="addition">
                                                                <span> @item.additionValue </span>

                                                                <input type="text" class="form-control input" value="@item.additionValue" style="display:none;width:50%" />
                                                            </td>

                                                            <td>
                                                                <a class="Edit" href="javascript:;" style="color: gray;"><i class="fa fa-edit"></i></a>&nbsp;
                                                                <a class="Update" href="javascript:;" style="display:none;color: #1134b7"><i class="fa fa-check"></i></a>&nbsp;&nbsp;
                                                                <a class="Cancel" href="javascript:;" style="display:none;color: red;"><i class="fa fa-times"></i></a>&nbsp;
                                                                <a class="Delete" href="javascript:;" style="color: #d03939;"><i class="fa fa-trash"></i></a>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
