.contentStyle {
    width: 100%;
    padding-left: 3%;
    max-height: 484px;
    overflow-y: auto;
    overflow-x: hidden;
}

.input {
    height: 23px;
    font-size: 12px;
    color: black;
}

label {
    font-size: 12px;
}

.form-control {
    padding-left: 2px;
    padding: 2px;
}

   