
@{
    ViewBag.Title = "Download";
}
@section renderName
{
    <h5 style="color:black">Download</h5>
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
   <style>
       .invoiceStyle{
           color:black;          
           font-size: 12px;
           font-weight: bold;
       }
   </style>
</head>
<body>
    <div class="app-content content contentStyle">
        <div class="content-wrapper">
            <div class="content-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-body">
                                    <div class="row invoiceStyle">
                                       <div class="col-md-3">
                                           <span>GSTIN : </span><span>06BULPK0208A1ZA</span>
                                       </div>
                                        <div class="col-md-2"></div>
                                            <div class="col-md-3">
                                                <span>TAX INVOICE</span>
                                            </div>
                                        <div class="col-md-2"></div>
                                            <div class="col-md-2">
                                                <span>Mob No : </span>
                                                <span>9891043905</span>
                                                <span style="margin-left: 54px;">8076417736</span>
                                            </div>
                                    </div>
                                 
                                    <div class="row invoiceStyle">
                                            <div class="col-md-2"></div>
                                            <div class="col-md-8" style="text-align: center;">
                                                <span><img src="~/Assets/img/Logo.png" style="height: 72px;width: 61px;margin-top: -8px;" /> </span> &nbsp;
                                                <span style="font-size: 30px;">OPTO EYE CARE & OPTICALS</span>
                                            </div>
                                     
                                            <div class="col-md-2"></div>
                                        </div>
                                 
                                    <div class="row invoiceStyle">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-10" style="text-align: center;font-size: 14px;margin-top: -11px;">                                           
                                            <span>A CUSTOM MADE ARTIFICIAL EYE CLINIC</span>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>

                                    <div class="row invoiceStyle">
                                        <div class="col-md-3"></div>
                                        <div class="col-md-6" style="text-align: center;font-size: 12px;margin-top: 0px;">
                                            <span>Spectacals, Goggles, Contact Lens</span>
                                        </div>
                                        <div class="col-md-3"></div>
                                    </div>

                                    <div class="row invoiceStyle">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-8" style="text-align: center;">                                           
                                            <span style="font-size: 14px;">Shop #, Phase 3, Ashok Vihar, Near Petrol Pump, Gurugram - 122001, Haryana</span>
                                        </div>

                                        <div class="col-md-2"></div>
                                    </div>

                                    <div class="row invoiceStyle">
                                        <div class="col-md-3"></div>
                                        <div class="col-md-6" style="text-align: center;">
                                            <span style="font-size: 14px;">Email : optoeyecare25@gmail.com</span>
                                        </div>

                                        <div class="col-md-3"></div>
                                    </div>
                                    <hr />
                                    <div class="row invoiceStyle">
                                        <div class="col-md-1">Name :</div>
                                        <div class="col-md-4">
                                            <span>Vinod kumar</span>
                                        </div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-1">Mob No :</div>
                                        <div class="col-md-4">
                                            <span>78578784585</span>
                                        </div>
                                    </div>

                                    <div class="row invoiceStyle">
                                        <div class="col-md-1">Address :</div>
                                        <div class="col-md-11">
                                            <span>Chennai India 600041</span>
                                        </div>
                                       
                                    </div>
                                    <hr />

                                    <div class="row invoiceStyle" style="border: 1px solid black;">
                                        <div class="col-md-12">
                                          <table>
                                              <thead>
                                                  <tr>
                                                      <td>Sr. No.</td>
                                                      <td style="padding-left: 49px;">Qty</td>
                                                      <td style="padding-left: 240px;">Particulars</td> 
                                                      <td style="padding-left: 530px;">Amount</td> 
                                                  </tr>
                                              </thead>
                                          </table>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
